
body {
    background: url(https://wallpapertag.com/wallpaper/full/9/9/2/149630-best-gradient-background-tumblr-2880x1800-for-android-tablet.jpg);
    width:100%;
    height: 100vh;
    color: white; 
    font-family: Anton, sans-serif;
    background-size: 150% 150%;
    position: relative;
    animation: change 15s linear infinite;
}  
/*-----------------------Heading & Title-----------*/
 #container {
     display:flex;
     flex-direction: column;
     align-content: center;
     flex-wrap: wrap;
     text-align: center;
 }
.title {
    font-size: 5rem;
    animation: fadeTitle 5s ease-in infinite;
}

.gameName {
    position: relative;
    font-size: 2rem;
}
.gameName::after {
    content:"";
    border-right: 4px solid white;
    animation: blink .5s ease-in infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes fadeTitle {
    0% {
        opacity: 0;
        color:#ffcccc;
    }
    50% {
        opacity: .8;
        color: #ccffff;
    }
    100%{
        opacity: 0;
        color: #ffcccc;
    }
}
@keyframes change {
    0%{
        background-position: 0% 0%;;
    }
    25% {
        background-position: 10% 10%;
    }
    50% {
        background-position: 0% 0%;
    }
    75%{
        background-position:20% 20%;
    }
    100% {
        background-position: 0% 0%;
    }
}
/*-------------------Game Buttons-------------------------*/
#container2 {
    display:flex;
    margin-top: 3rem;
    max-height: 10rem;
    text-align: center;
    flex-direction: center;
    justify-content: center;
    justify-content: space-evenly;
    animation: fadeIn 8s ease-in;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    80% {
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.key {
    font-size: 2rem;
    width: 3.5rem;
    transition:all 0.10s;
    border: 2px solid white;
    border-radius: 5px;
}

.a {
    display: block;
    font-size: 15px;
    color: yellow;
}

.input{
    transform: scale(1.1);
    border: 2px solid yellow;
}
/*------------score-----------*/

#container3 {
    display:flex;
    margin-top: 3rem;
    max-height: 10rem;
    text-align: center;
    flex-direction: center;
    justify-content: center;
    justify-content: space-evenly;
    animation: fadeIn 8s ease-in;
}
